article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
	display:block;
}
mark, rp, rt, ruby, summary, time {
	display:inline;
}

h1 {
    font-size: 16px;
    font-weight:  800;
    font-style: italic;
}
a {
    color: #63343B;
}


h3 {
    font-size: 12px;
    font-weight: 300;
    color: saddlebrown;
}

.left {
	float:left;
}
.right {
	float:right;
}
.wrapper {
	width:100%;
	overflow:hidden;
        padding:5px ;
}
body {
	background:#fff;
	border:0;
	font:13px Arial, Helvetica, sans-serif;
	color:#3c4046;
	line-height:20px;
	min-width:1000px;
}

.css3 {
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	box-shadow:0 0 4px rgba(0, 0, 0, .4);
	-moz-box-shadow:0 0 4px rgba(0, 0, 0, .4);
	-webkit-box-shadow:0 0 4px rgba(0, 0, 0, .4);
	behavior:url(../js/PIE.htc);
	position:relative;
}

.iconbox {
    display: inline-block;
    padding: 2px 10px 10px 10px;
    alignment-baseline: middle;    
    margin-top: 10px;
 }

.iconpanel {
    margin-top: 16px;
    margin-bottom: 5px;
    background-color: papayawhip;
    box-shadow: 6px 6px 6px;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.panelheader {
    padding: 1px 10px 1px 10px;
    background-color: wheat;
}

.panelheader h3 {display: inline}

.panelheader button {
    float: right;
}

.searchbox {
    padding: 10px 5px 5px 25px;
    margin-top: 15px;
    }

.searchpanel {
    margin-top: 16px;
    margin-bottom: 5px;
    background-color: papayawhip;
    height: 105px;
    box-shadow: 6px 6px 6px; 
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}
.form_input {
	height:17px;
	background:  linen;
	color:midnightblue;
	font:12px Arial, Helvetica, sans-serif;
	padding:2px 15px;
	width: 280px;
}

#container
{
	margin: 0 auto;
	width: 100%;
	background: #fff;
}

#header
{
	background: linen;
	padding: 1px 10px;
}

#header h1 { margin: 0; }

#navigation
{
	float: left;
	width: 100%;
	background: #333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: darkred; }

#content-container
{
	float: left;
	width: 100%;
	background: floralwhite url(layout-two-liquid-background.gif) repeat-y 68% 0;
}

#content
{
	clear: left;
	float: left;
	width: 61%;
	padding: 2px 0;
	margin: 0 0 0 1%;
	display: inline;
}

#content h2 { margin: 0; }
#aside h2 { margin: 0; }

#aside
{
	float: right;
	width: 36%;
	padding: 2px 0;
	margin: 0 1% 0 0;
	display: inline;
}

#aside h3 { margin: 0; }

#footer
{
	clear: left;
	background: #ccc;
	text-align: right;
	padding: 20px;
	height: 1%;
}